/* DESKTOP STYLES */
:root {
  --background-color: #F0F1F4;
  --yellow-highlight :#faf4b6;
  --light-blue: #6d99f9;
  --dark-blue: #43598a;

  --columnWidth: 100%;
}

/* MOBILE SITE VARIABLES */
@media (max-width: 850px) {  
  :root {
    --columnWidth: 101%;
    
  }
}
.main-slide {
    height: 200px;
    background-image: url(../images/marketing01.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    margin-left: 0px;
    margin-bottom: 12px;
    z-index: 0;
}

.slide-prev {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 65%;
    float: left;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin-left: 12px;
    background-color: var(--light-blue);
    color: var(--yellow-highlight);
    z-index: 3;
}
.slide-prev:hover {
  background-color: var(--dark-blue);
  color: var(--white);
}
.slide-next {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 65%;
    float: right;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin-right: 12px;
    background-color: var(--light-blue);
    color: var(--yellow-highlight);
}
.slide-next:hover {
  background-color: var(--dark-blue);
  color: var(--white);
}